/* Shared Styles */
* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  /* padding: 0; */
}

.primary-title-font {
  color: #131313;
  font-weight: 700;
}

.primary-btn{
    border-radius: 8px;
    background: #FF900E;
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
    border: 0px;
    padding: 20px 24px;
    cursor: pointer;
    margin: 1.5rem 0;
}
/* Heading Styles - Start */
.header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}

/* Navbar Styles - Start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-title {
  font-size: 3rem;
}

.navbar > ul {
  display: flex;
}

.navbar > ul > li {
  list-style: none;
  margin-right: 2rem;
}

.navbar > ul > li > a {
  text-decoration: none;
  color: #424242;
  font-size: 1.2rem;
  font-weight: 500;
}
/* Navbar Styles - End */

/* Banner Styles - Start */
.banner{
    margin-top: 3rem;
}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
}

.banner-description{
    color: #727272;
    font-size: 1rem;
    line-height: 26px;
    /* margin-bottom: 1.25rem; */
}
.banner-img{
    margin-top: 1.25rem;
    width: 100%;
}
/* Banner Styles - End */

/* Responsive media queries (header)-start*/
/* mobile device */
@media screen and (max-width:576px){
    .header{
        padding: 20px;
    }
    .navbar{
        flex-direction: column;
    }
    .navbar > ul > li {
        margin-right: 1.5rem;
      }
}

/* Tablet or medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    .header{
        padding: 30px;
    }
    .navbar{
        flex-direction: column;
    }
    
}
/* Responsive media queries -end*/

/* Heading Styles - End */
